<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/szablon :: szablon(~{::.container})}"
      xmlns:sec= "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>

<div class="container" sec:authorize="isAuthenticated()">

        <h2 class="uk-heading-divider"  style="position:center">
            <span th:text="#{index.tytyl}">W</span>
            <span sec:authentication="name">L</span>
<!--            <span sec:authentication="principal.authorities">P</span>-->
        </h2>

    <div class="uk-panel">
        <img class="uk-align-left uk-margin-remove-adjacent" src="tlo.JPG" width="300" height="140" alt="info">
        <p>Przejmij kontrolę nad światłem!</p>

        <p>Dzięki interfejsowi ustalisz kolory, w jakich rozświetlą sie szafy w Data Center.
        </p>

        <p> Interfejs umożliwa wybór koloru podświetlania szafy, zdefiniowanego przez instalatora systemu.
        </p>
        <p>Interfejs umożwiwia wybór szafy która ma być podświetlona, zefiniowanych przez instalatora systemu.
        </p>
    </div>
<h2>W Przypadku zaniku napięcia, zresetuj sterownik LED. przd dalszym urzytkowaniem.</h2>
    <div class="uk-padding"></div>
</div>

</body>
</html>
