<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/szablon :: szablon(~{::.container})}">
<body>

    <div class="container">
            <div class="uk-panel">
                <img class="uk-align-left uk-margin-remove-adjacent" src="/tlo.JPG" width="60" height="28" alt="info">
                <h2 class="uk-heading-divider" th:text="#{opcje.tytul.kolory}" style="position:center;"></h2>
            </div>

<!--            <span uk-icon="icon: info" uk-tooltip="Info"></span>-->
<!--            <div uk-drop="animation: uk-animation-slide-top-small; duration: 1000">-->
<!--                <div class="uk-card uk-card-body uk-card-default">-->
<!--                    <p>Nazwa -  nzawa pod jaką będzie widniał dany kolor.</p>-->
<!--                    <p>Składowa R (Red) - wartość od 0 do 255 - ilość koloru czerwonego w barwie.</p>-->
<!--                    <p>Składowa G (Green) - wartość od 0 do 255 - ilość koloru zielonego w barwie.</p>-->
<!--                    <p>Składowa B (Blue) - wartość od 0 do 255 - ilość koloru niebieskiego w barwie.</p>-->
<!--                    <p>Opis - adnotacja do stworzonego koloru.</p>-->
<!--                </div>-->
<!--            </div>-->

<!--                <span uk-icon="icon: info" uk-tooltip="Info" uk-toggle="target: #toggle-animation-multiple; animation:  uk-animation-slide-left, uk-animation-slide-bottom hide"></span>-->
<!--                <div id="toggle-animation-multiple" class="uk-card uk-card-default uk-card-body uk-margin-small">-->
<!--                    <p>Nazwa -  nzawa pod jaką będzie widniał dany kolor.</p>-->
<!--                    <p>Składowa R (Red) - wartość od 0 do 255 - ilość koloru czerwonego w barwie.</p>-->
<!--                    <p>Składowa G (Green) - wartość od 0 do 255 - ilość koloru zielonego w barwie.</p>-->
<!--                    <p>Składowa B (Blue) - wartość od 0 do 255 - ilość koloru niebieskiego w barwie.</p>-->
<!--                    <p>Opis - adnotacja do stworzonego koloru.</p>-->
<!--                </div>-->

            <a uk-icon="info" uk-tooltip="Info" href="#modal-center" uk-toggle></a>
            <div id="modal-center" class="uk-flex-top" uk-modal>
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <p>Nazwa -  nzawa pod jaką będzie widniał dany kolor.</p>
                    <p>Składowa R (Red) - wartość od 0 do 255 - ilość koloru czerwonego w barwie.</p>
                    <p>Składowa G (Green) - wartość od 0 do 255 - ilość koloru zielonego w barwie.</p>
                    <p>Składowa B (Blue) - wartość od 0 do 255 - ilość koloru niebieskiego w barwie.</p>
                    <p>Opis - adnotacja do stworzonego koloru.</p>
                    </ul>
                </div>
            </div>

            <a th:href="@{/opcje/kolory/wstaw}" uk-icon="icon: copy" uk-tooltip="Dodaj"></a>
            <a th:href="@{/opcje/kolory/czysc}" uk-icon="icon: trash" uk-tooltip="Wyczyść"></a>
            <table class="uk-table uk-table-striped uk-table-hover uk-table-small" uk-sortable>
                <thead>
                <tr>
                    <th sec:authorize="hasAnyAuthority('ADMIN')" class="uk-table-shrink">Id</th>
<!--                    <th>Id <a sd:pagination-sort="id" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <!--            <th th:colspan="2"></th>-->
                    <th sec:authorize="hasAnyAuthority('ADMIN')">Wybór</th>
<!--                    <th>Wybór <a sd:pagination-sort="wybor" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Nazwa</th>
<!--                    <th>Nazwa <a sd:pagination-sort="kolory" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Składowa R (Red)</th>
<!--                    <th>Składowa R (Red) <a sd:pagination-sort="skladnik_R" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Składowa G (Green)</th>
<!--                    <th>Składowa G (Green) <a sd:pagination-sort="skladnik_G" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>>-->
                    <th>Składowa B (Blue)</th>
<!--                    <th>Składowa B (Blue) <a sd:pagination-sort="skladnik_B" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Opis</th>
<!--                    <th>Opis <a sd:pagination-sort="opis" uk-icon="icon: list; ratio: 0.9" uk-tooltip="Sortuj"></a></th>-->
                    <th>Opcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="element : ${lista}">
                    <td sec:authorize="hasAnyAuthority('ADMIN')" th:text="${element.id}"></td>
                    <td sec:authorize="hasAnyAuthority('ADMIN')"><input class="uk-checkbox" type="checkbox"></td>
                    <td th:text="${element.kolor}"></td>
                    <td th:text="${element.skladnik_R}"></td>
                    <td th:text="${element.skladnik_G}"></td>
                    <td th:text="${element.skladnik_B}"></td>
                    <td th:text="${element.opis}"></td>
                    <td>
                        <a th:href="@{/opcje/kolory/edytuj/{id} (id=${element.id})}" uk-icon="icon: file-edit"uk-tooltip="Edytuj"></a>
                        <a th:href="@{/opcje/kolory/szczegoly/{id} (id=${element.id})}" uk-icon="icon: info" uk-tooltip="Szczegóły"></a>
                        <a th:href="@{/opcje/kolory/usun/{id} (id=${(element.id)})}" uk-icon="icon: trash" uk-tooltip="Usuń"></a>
                    </td>
                </tr>
                </tbody>
            </table>

<!--            <div class="col-sm-6">-->
<!--                <div sd:pagination-summary="">info</div>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--                <nav class="pull-right">-->
<!--                    <ul class="uk-pagination uk-flex-center" sd:pagination="full">-->
<!--                        <li class="uk-disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>-->
<!--                        </li>-->
<!--                        <li class="uk-active"><a href="#">1<span class="sr-only"></span></a></li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--            </div>-->

             <div class="uk-padding"></div>

    </div>

</body>
</html>
